<section id="add-form">
  <div class="wrapper">
    <div id="add-controller">
      <input type="text" placeholder="Ex. Meeting at 2:45PM" ngModel>
      <button>Add Task</button>
    </div>
  </div>
</section>
<section id="to-do-list">
  <div class="wrapper">
    <ul id="listing-wrapper">
      @for(item of list; track list){
        <li>
          <div>
            {{item.title}}
          </div>
          <div class="button-container">
            <button>Done</button>
            <button>Delete</button>
          </div>
        </li>
      }
    </ul>
  </div>
</section>
